body {
  background-color: #F0FFFF;
}

span {
  font-family: Courier New;
  font-size: .8em;
  font-weight: bold;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column img {
  width:100%
}